{
  "extends": [
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier"
  ],
  "plugins": ["import", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "@babel/eslint-parser"
}
